@model Lab4ProyectoFinal.Models.Producto

<h1 class="text-center mb-4">Editar los datos de un producto</h1>

<hr />

<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

            <input type="hidden" asp-for="Id" />

            <div class="mb-3">
                <label asp-for="Nombre" class="form-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Marca" class="form-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Precio" class="form-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Categoria" class="form-label"></label>
                <input asp-for="Categoria" class="form-control" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Tamaño" class="form-label"></label>
                <input asp-for="Tamaño" class="form-control" />
                <span asp-validation-for="Tamaño" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Descripcion" class="form-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ImagenCarpeta" class="form-label">Direccion Imagen</label>
                <input asp-for="ImagenCarpeta" class="form-control" />
                <span asp-validation-for="ImagenCarpeta" class="text-danger"></span>
            </div>

            <div class="d-grid gap-2">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}